html {
    background-color: #ffffff;
    /* Or any color / image you want */
}

body {
    margin: 0;
    padding: 0;
    //min-height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    //overflow: auto;
    box-sizing: border-box;
    //border: solid blue 2px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    padding: 5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: white;
}

header {
    box-sizing: border-box;
    //border: solid green 2px;
    padding: 0 0.5vmax 0 0.5vmax;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

header > * {
    flex: 1;
}

header .left {
    text-align: left;
}

header .center {
    text-align: center;
}

header .right {
    text-align: right;
}

header.title {
    height: 50px;
    font-size: 20px;
}

header.score {
    height: 30px;
    font-size: 16px;
    border-bottom: solid grey 0.2vmax;
}

#wrongAnswer {
    color: red;
}
main {
    flex: auto;
    overflow: auto;
    box-sizing: border-box;
    //border: solid red 2px;
    padding: 5px;
}
svg {
    box-sizing: border-box;
    //border: solid red 2px;
    //width:1000px;
}