html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    //min-height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    //overflow: auto;
    box-sizing: border-box;
    //border: solid blue 2px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    padding: 5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

header {
    box-sizing: border-box;
    //border: solid green 2px;
    padding: 0 0.5vmax 0 0.5vmax;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

header.title {
    height: 4vh;
    font-size: 1.5vmax;
}

h1,h2,h3,h3 {
    margin: 0;
}

header.score {
    height: 3vh;
    font-size: 1vmax;
    border-bottom: solid grey 0.2vmax;
}
main {
    flex: auto;
    overflow: auto;
    box-sizing: border-box;
    //border: solid red 2px;
    padding: 5px;
}
svg {
    box-sizing: border-box;
    //border: solid red 2px;
    //width:1000px;
}